<div class="home-container">
<header>
        <app-menu [activeTab]="0"></app-menu>
</header>

        <div class="block">
        <h1 class="title">Welcome to iTroc</h1>
        <h2>The place where thousands of sellers and buyers meet to share their experience and skills in agriculture and sell the goodies they worked for.</h2>
</div>
<div class="block">
        <button matButton class="people" routerLink="/people">Explore our community <img src="./assets/icons/globe-32.png"></button>
        <button matButton class="products" routerLink="/products">Explore our products<img src="./assets/icons/corn.svg"></button>
</div>
</div>

