@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1441716844725-09cedc13a4e7?q=80&fm=jpg&s=c895a1f219d174952415b9b7a0811e62');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<div class="text-center">
    <h1 class="display-4" style= 'color: black; font-size: 80px'>Welcome!</h1>
    <p style='color: black; font-size:40px'>We<br>repair<br>what<br>you<br>can't!</p>
</div>
</body>