@{
    ViewData["Title"] = "Privacy Policy";
}

<body style='background: #000'>
<h1 style="text-align:center; color:white">@ViewData["Title"]</h1>

<p style="text-align:center; color:white">The Privacy Policy is PRIVATE!</p>
</body>