################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Andricsak/Proiect/GameRentWeb/GameRentWeb/wwwroot/images/uploads
