.people-container{
    height:100vh;
    width:100vw;
    font-family: 'Avenir';
    .people-list{
        box-sizing: border-box;
        width:100%;
        display: flex;
        flex-wrap:wrap;
        justify-content: flex-start;
        padding-top: 5rem;
        padding-right:3rem;
        padding-left:2rem;
        .form{
            width:100%;
            .input{
                border-radius: 10px;
                background: rgba(#edf3f8,.5);
                width:50%;
                height:2rem;
                display: flex;
                justify-content: space-between;
                border:1px solid #3f7aa6;
                margin:auto;
                margin-bottom:3rem;
                padding:.5rem;
                input{
                    border:none;
                    color:#3f7aa6;
                    background: transparent;
                    font-size:1rem;
                    width:80%;
                }
                img{
                    width:1.5rem;
                }
            }
        }
        .user{
            width:30%;
            height:10rem;
            display: flex;
            flex-wrap:wrap;
            box-shadow: 0 0.4rem 2rem rgba(0,0,0,0.1);
            border-bottom: 3px solid #6b9fc7;
            padding:2.5rem 1rem 1rem 1rem;
            margin-bottom:1rem;
            margin-left:1rem;
            position: relative;

            .profilePic{
                width:auto;
                height:100%;
                border-radius:100%;
                overflow: hidden;
                margin-right:3rem;
                img{
                    height:100%;
                }
            }
            .name{
                color:#4687b9;
                font-size: 1.2rem;
                font-weight: 600;
            }
            .email{
                color:gray;
                font-size: .8rem;
            }
            .adress{
                color:gray;
                font-size: .8rem;
            }

        .type{
            box-sizing: border-box;
            position: absolute;
            top:0;
            left:0;
            width:100%;
            font-size:1.2rem;
            font-weight: 700;
            letter-spacing: 1px;
            color:white;
            background: #aeb4b7;
            padding: .2rem .5rem;
        }
        }
    }
}
.flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}