@model Pacient

@{
    ViewBag.Title = "Edit Pacient";
    var id = Model.Id;
}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post">
   
    <input hidden asp-for="Id"/>
    <div>
        <label asp-for="Nume"></label>
        <input asp-for="Nume" />
    </div>
    <div>
        <label asp-for="Prenume"></label>
        <input asp-for="Prenume" />
    </div>
    <div>
        <label asp-for="CNP"></label>
        <input asp-for="CNP" />
    </div>
    <div>
        <label asp-for="Sexul"></label>
        <select asp-for="Sexul" asp-items="Html.GetEnumSelectList<Sex>()"></select>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-controller="home" asp-action="index" class="btn btn-primary">Cancel</a>
    </div>
</form>