@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Welcome to "Rent a game"</h1>
</div>

<div id="description" class="container">
    <p class="text-info">
        A site where you can play your favourite games without having to buy them.<br />
        The payment is calculated per day, so 3$/day to play your favourite game.<br />
    </p>
</div>
