

@{
    ViewBag.Title = "Contact";
}



<div class="showcase">
    <h1 class="shw-title">Contact</h1> 
    <ul class="shw-list">
        <li class="shw-list-item">Telefon: 0740365894</li>
        <li class="shw-list-item">E-mail: vali.barboni@yahoo.com</li>
    </ul>


</div>

