
@{
    ViewBag.Title = "Home Page";
}

<div class="showcase">
    <h1 class="shw-title">Despre noi</h1>
    <p class="shw-title">Livrăm la domiciliu legume proaspete, naturale și delicioase, de calitate bună, produse în mod tradițional, prin folosirea gunoiului de grajd.</p>
    <p class="shw-title">Ne puteti gasi in Timisoara:</p>
    <ul class="shw-list">
        <li class="shw-list-item">miercurea: 07-12 - Piata Volanta Stadion</li>
        <li class="shw-list-item">sambata: 07-12 - Piata Volanta Stadion si Piata din Girocului</li>
    </ul>


</div>

