@{
    ViewData["Title"] = "Index";
}

<h1>The list of medical tests</h1>

<br/>

<h2> 1. Complete blood count </h2>

<ul style="list-style-type:disc;">
  <li>Red blood cells: hemoglobin, hematocrit </li>
  <li>White blood cells</li>
  <li>Platelets</li>
</ul>

<br/>

<h2> 2. Basic Metabolic Panel </h2>

<ul style="list-style-type:disc;">
  <li>BUN (blood urea nitrogen) </li>
  <li>Creatinine</li>
  <li>Glucose</li>
  <li>Albumin </li>
  <li>CO2 </li>
  <li>Calcium </li>
  <li>Sodium </li>
  <li>Potassium </li>
  <li>Chloride </li>
</ul>

<br/>

<h2> 3. Thyroid Function Tests </h2>

<ul style="list-style-type:disc;">
  <li>T3 (triiodothyronine)</li>
  <li>T4 (thyroxine)</li>
  <li>TSH (thyroid-stimulating hormone)</li>
</ul>

