@model MVC_project.Models.MedicalTests

@{
    ViewData["Title"] = "Results";
}

<table style="width:100%" class="table">
<thead>
<tr>
    <th> Name </th>
    <th> Phone </th>
    <th> TestName </th>
    <th> Date </th>
    <th> TestedComponent </th>
    <th> NormalValues </th>
    <th> ResultedValues </th>
    <th> Diagnosis </th>
</tr>
</thead>
<tbody> 
<tr>
    <td> Popescu Andreea </td>
    <td> 0787389508 </td>
    <td> Complete Blood Count</td>
    <td> 24/03/2020 </td>
    <td> Platelets </td>
    <td> 150,000 to 450,000/mcL </td>
    <td> 350,000/mcL </td>
    <td> Healthy </td>
</tr>
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Red blood cells</td>
    <td>3.90–5.03 million cells/mcL</td>
    <td> 4.80 million cells/mcL</td>
    <td> Healthy</td>
</tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>White blood cells</td>
    <td>3,500 to 10,500 cells/mcL</td>
    <td>5,990 cells/mcL</td>
    <td> Healthy</td>
</tr>
</tbody>
</table>
