@model IEnumerable<Project.Models.Phone>
@{ 
    ViewBag.Title = "Phone list";

}
    
<div class="card-deck">
    @foreach (var phone in Model)
    {
         var photoPath = "~/images/" + (phone.PhotoPath ?? "image1.jpg");
        <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header">
                <h3>@phone.Name</h3>
            </div>
            <img class="card-img-top imageThumbnail" src ="@photoPath" asp-append-version="true"/>
            <div class="card-footer text-center">
            <a asp-controller="home" asp-action="details" asp-route-id="@phone.Id" 
               class="btn btn-primary m-1">View</a>
                <a  asp-action="Edit" asp-controller="Home"
                   asp-route-id="@phone.Id"
                   class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-primary m-1">Delete</a>
                </div>
            </div>
    }

</div>
