
@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy</h1>

This is an app developed for school work only.
<br /><br /><br /><br /><br /><br /><br /><br />
<h3>Disclaimer</h3>

All information contained within is private and should not be reproduced.

