@{
    ViewBag.Message = "My personal information";
}

<h3>@ViewBag.Message</h3>

<address>
    Tibiscum Nr.2<br />
   Timis, Timisoara<br />
    <abbr title="Phone">P:</abbr>
    0735 528 077
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:abrudan_stefan@yahoo.com">Abrudan Stefan Email</a><br 
</address>