@{
    ViewBag.Title = "Home of CSGO";
}

<div class="jumbotron">
    <h1>SkinShopCSGO</h1>
    <p class="lead">SkinShopCSGO is a platform where you can loan your favourite CSGO skins. Browse the skins you love by going into the link below</p>
    <p><a href="https://csgostash.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Proficient</h2>
        <p>
            SkinShopCSGO lets you creata a user with your personal information to make sure we don't loose the skins
            and you dont't loose the money.
        </p>
        <p><a class="btn btn-default" href="https://csgo.steamanalyst.com">Get Info &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check skin collection</h2>
        <p>CSGO Database is a website where you can check all the collections of every skin in the game</p>
        <p><a class="btn btn-default" href="https://www.csgodatabase.com">Get Collections &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check Steam Market price</h2>
        <p>You can easily check the price of the skins on the official Steam Market</p>
        <p><a class="btn btn-default" href="https://steamcommunity.com/market/search?appid=730">Get Prices &raquo;</a></p>
    </div>
</div>