@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calea Martirilor, nr. 1<br />
    Timisoara, 300724<br />
    <abbr title="Telefon">T:</abbr>
    0256 123 456
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support.PartsShop@gmail.com">Support.PartsShop@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing.PartsShop@gmail.com">Marketing.PartsShop@gmail.com</a>
</address>