@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Parts Shop - Magazin de piese</h1>
    <p class="lead">Cauta piese de care ai nevoie la noi</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Piese","Index","PieseTables")</h2>
        
    </div>
</div>