@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_LayoutMedic.cshtml";
}
<!DOCTYPE html>
<html>
<div>
    <fieldset>
        <legend>My Appointments</legend>
        <p></p>
    </fieldset>
</div>
</html>
@Html.Raw(ViewBag.HtmlStr)