.body {  
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#352724)) fixed;
    text: white;
    width:device-width;
    margin: 0;
    height: 100%;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #61271A;
    width:100%;
}

.li {
    float: left;
    posititon: relative;
    display: inline-block;
    cursor: pointer;
}

.li.popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;    
}

.li.popuptext::after {
    content: "";
    border-color: #555 transparent transparent transparent;
}

.li.show {
    visibility: visible;
}

.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liPaginator {    
    color: white;
    padding: 14px 16px;
}

.liPaginator a{    
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.ul .ulPaginator {    
    text-align:center;   
}

.liPaginator a:hover {
    background-color: #61271A;
}

.li a:hover {
    background-color: #61271A;
}

.container {
    width:device-width;
    heigth:100%;
    left:20%;
    right:100%;
}

.container .containerMainButtons{    
    text-align: center;
    margin-top:140px;

}

.h2 {
    text-decoration:none;
    text-align:center;
    margin-top:60px;	    
}

.button {
    background-color: #61271A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin: 4px 2px;
    cursor: pointer;    
}



.divTable{
	width: 100%;
    	height: 700px;
	overflow: scroll;
	align:center;
}

.tableContent{
	align:center;
}

.tableForm{
	display:inline-table;
	align:center;
}

.buttonfilter{
    background-color:#61271A;
    border:none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
}

.th{
    text-align: center;
    align: center;
    border-collapse: collapse;
    border:1px solid black;
}

.tr {
    text-align: center;
    align: center;
}

.trheader {

}

.tr:hover {
   
}
.switch-left-right .switch-label {
	overflow: hidden;
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
	width: 20px;
	height: 20px;
	top: 4px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 11px 0 0 0;
	text-indent: -12px;
	border-radius: 20px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.switch-left-right .switch-label:before {
	background: #eceeef;
	text-align: left;
	padding-left: 80px;
}
.switch-left-right .switch-label:after {
	text-align: left;
	text-indent: 9px;
	background: #FF7F50;
	left: -100px;
	opacity: 1;
	width: 100%;
}
.switch-left-right .switch-input:checked ~ .switch-label:before {
	opacity: 1;
	left: 100px;
}
.switch-left-right .switch-input:checked ~ .switch-label:after {
	left: 0;
}
.switch-left-right .switch-input:checked ~ .switch-label {
	background: inherit;
}
.alert {
  padding: 15px;
  background-color: #ff0000;
  color: white;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
