 @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-4">Welcome to your Medical Tests App!</h1>
    <br />
    <br />
    <p> <h2> <a href="https://localhost:5001/Login/Index">  Sign in </a> </h2> <h3> to find out your blood test results or make an appointment now! </h3></p>
</div> 


