
@model Proiectfinalpssc.Models.CUSTOMER
@{
    ViewBag.Title = "Menu";
}


@{var data = ViewBag.Message; }

<h2>Menu</h2>
<p>@data</p>
@using (Html.BeginForm())
{
    <input name="submit" type="submit" id="history" value="Transaction history" />
    <input name="submit" type="submit" id="add" value="Make a transaction" />
    <input name="submit" type="submit" id="profile" value="Profile" />
}



