@model Proiectfinalpssc.Models.CUSTOMER
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<p>model.IBAN</p>
<button type="button">Transaction history</button><br /><br />
<button type="button">Make a transaction</button><br /><br />
<button type="button">Profile</button>


