
@model Proiectfinalpssc.Models.CUSTOMER

@{
    ViewBag.Title = "Profile";
}


<h2>Profile</h2>
<p>        IBAN            NUME               SOLD                         USERNAME         </p>
<p>    @Model.IBAN     @Model.LASTNAME     @Model.FIRSTNAME             @Model.USERNAME </p>