@model MVC_CookBook_PSSC.Models.User

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>User</h4>
    <hr />
   
    <label>Enter </label>
    <input type="text" />
</div>
<div>
 |
    <a asp-action="Index">Back to List</a>
</div>
