 @{
    ViewData["Title"] = "View Meds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<MedEntity>
<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>
<div>
    <fieldset>
        <legend>Members of the VetClinic Hospital</legend>
        <p>Choose a med to made the appointment:</p>
        <table style="width:50%">
            <tr>
            <th>Specialty</th><th>Meds</th></tr>
            @using (Html.BeginForm("Index", "Appointment", FormMethod.Post))
            {
                @foreach(var item in Model)
                {
                <tr><td>@item.Specialty</td>
                    <td>
                     <button class="button button2" type="submit" name="medName" value=@item.PartitionKey>@item.PartitionKey</button> 
                    </td>
                </tr>
                }
            } 
        </table>
     </fieldset>
</div>
</body>
</html> 