body, html {
  margin: 0;
  font-family: Monospace, Arial, Helvetica, sans-serif;
  background: #ddd; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}


.parent {
  background: #b1b1b1;
  height: 100%;
  position: relative;
}
 
.inner {
  width: 350px;
  background-color: #003f3f;
  border-radius: 7px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}


/* Responsive columns */
@media screen and (max-width: 600px) {


.inner {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  border-radius: none;
}
  
}


/*inputs*/

@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

* {box-sizing: border-box;}



input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #005e5e;
  color: #fff;
}

input[type=password]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #005e5e;
  color: #fff;
}

input[type=submit] {
  background-color: #008B8B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #007272;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=text]:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
  background-color: #008585;
}

input[type=text]:hover {
  border: 2px solid #001c1c;
  border: 2px solid #001c1c;
}

input[type=password]:focus{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
  background-color: #008585;
}

input[type=password]:hover {
  border: 2px solid #001c1c;
}

::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}


.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: #00a5a5;
  text-decoration: none;
  text-decoration: underline;
}



