
@{
    ViewData["Title"] = "Successful";
}
<html>
    <head>
        <link href="~/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 align="center">Congratulations! Your order has been confirmed!</h1>
    </body>
</html>
