@model IEnumerable<APPicola.Models.Articole>

@{
    ViewBag.Title = "Articole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Articole</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numearticol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numearticol)
        </td>
    </tr>
}

</table>
