@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Administrare Camin</h1>
    <p>Apasati pe butonul "Student App" pentru a incepe administrarea studentilor cazati</a></p>
</div>
