
@{
    ViewData["Title"] = "ExtendView";
}

<h1 class="text-white">Extend rent period</h1>

<div class="text-white">
    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">How many days do you want to extend?</label>
            <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Number of days">
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary" id="formGroupExampleInput2" value="Extend">
        </div>
    </form>
</div>