@model List<RentOrder>
@{
    ViewData["Title"] = "MyRent";
}

<h1 class="text-white">My Rents</h1>

@foreach (var item in Model)
{
    <div class="card text-black m-5 " style="opacity:0.7">
        <h5 class="card-header">Game rented: @item.GameRented</h5>
        <div class="card-body">
            <h5 class="card-title">Expiring date: @item.ExpiringDate.ToString("dd/MM/yyyy")</h5>
            <p class="card-text">Total Payment is @item.TotalPayment$</p>
            <p class="card-text">Number of days: @item.RentPeriod</p>
            <a href=@Url.Action("Return","Rent", new { id = item.Id }) class="btn btn-primary m-md-2">Return game</a>
            <input type="button" class="btn btn-primary" id="btnDisplay" value="Extend rent period">
            <div class="text-white" style="display:none"  id="hiddenForm">
                <form >
                    <div class="form-group">
                        <label for="formGroupExampleInput">How many days do you want to extend?</label>
                        <input type="number" class="form-control" id="days" placeholder="Number of days">
                    </div>
                    <div class="form-group">
                        <a href=@Url.Action("Extend","Rent", new { id = item.Id }) class="btn btn-primary m-md-2" id="extendButton">Extend</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
}


@section Scripts{ 
<script>
    $(document).ready(function () {
        $("#btnDisplay").click(function(e) {
        $("#hiddenForm").show();

        e.preventDefault();
        });

        $("#extendButton").click(function (e) {
            $("#hiddenForm").hide();
            var days = $('#days').val();
            var url = $(this).attr('href');
            window.location.href = url + '/' + days;
            e.preventDefault();
        });
    })
</script>
}
