img{
    width:600px;
    height:200px;
}
body {
    background-image: url(../images/perfume.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
form{
    align-content:center;
}
h1{
    font-family:'Monotype Corsiva';
    color:white;
    font:x-large;

}
h3 {
    font-family: 'Monotype Corsiva';
    color: white;
}
table1{
    color:white;
}