@{
    ViewData["Title"] = "Acasa";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit</h1>
 </div>
<div class="jumbotron">
    <h1>GRADINITA Cei 7 Pitici</h1>
	<p>"Copilul trebuie să știe că este un miracol, de vreme ce de la începuturile lumii 
	până la sfârșitul ei, nu a mai fost și nu va mai fi nici un copil asemeni lui" (Pablo Casals)</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>La multi ani!</h2>
        <p>
            Prichindeii si echipa Gradinita Cei 7 Pitic va ureaza Sarbatori fericite!
        </p>       
    </div>
    <div class="col-md-4">
        <h2>Programe</h2>
        <p>Program scurt: 08:00 - 13:00</p>
		<p>Program lung: 08:00 - 16:30</p>
		<p>Program prelungit: 08:00 - 18:30</p>      
    </div>
    <div class="col-md-4">
        <h2>Proiectul "Joia calatoare"</h2>
        <p>Îi pregătim surprize minunate micuţului tău, care-i îmbogăţesc experienţa de viaţă şi-l ajută să crească</p>
        
    </div>
</div>