@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MVC_project.Models.Login

@{
    ViewData["Title"] = "Choose";
}

<h1> Choose your desired option: </h1>
<br/>
<ul style="list-style-type:disc;">
  <h2> <li> <a href="https://localhost:5001/Appointments/Create2"> Make an appointment </a> </li> </h2> 
  <h2> <li> <a href="https://localhost:5001/MedicalTests/List2"> See blood test results </a> </li> </h2>

</ul>




