@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MVC_project.Models.Login

@{
    ViewData["Title"] = "Error";
}

<br/>
<br/>
<h1> Invalid Username/Password! </h1>
<br/>
<br/>
<div>
    <a asp-controller="Login" asp-action="Index"> <h2>Back to Sign In Page </h2></a>
</div>