body {
    background-image: url(../images/perfume.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
table {
    border-color: gray;
    font-family: 'Monotype Corsiva';
}
h1 {
    font-family: 'Monotype Corsiva';
    font: x-large;
}
